<div class="container">
    <h1 class="title-product-admin">
        PRODUCT MANAGEMENT
    </h1>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">PRICE</th>
            <th scope="col">STATUS</th>
            <th scope="col">ACTION</th>
          </tr>
        </thead>
        <tbody>
         <tr>
             <td>1</td>
             <td>xiaomi</td>
             <td>21.000.000</td>
             <td>con hang</td>
             <td>
                <button type="button" class="btn btn-danger"><i class="fa-solid fa-delete-left"></i></button>
                <a style="margin-left: 5px;" href="" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
             </td>
         </tr>
        </tbody>
      </table>
    <a href="/admin/product/add" class="btn btn-success">
        ADD PRODUCT
    </a>
    
</div>