<table class="table table-bordererd">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>price</th>
      <th>status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productList; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>

      <td>{{ product.status ? "con hang" : "het hang" }}</td>
      <td>
        <button type="button" class="btn btn-info">Info</button>
      </td>
    </tr>
  </tbody>
</table>

